@font-face {
  font-family: "Roguemont";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/roguemont-n2.woff")  format("woff");
}

@font-face {
  font-family: "Roguemont";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/roguemont-n3.woff")  format("woff");
}

@font-face {
  font-family: "Roguemont";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roguemont-n4.woff")  format("woff");
}

@font-face {
  font-family: "Roguemont";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/roguemont-n5.woff")  format("woff");
}

@font-face {
  font-family: "Roguemont";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/roguemont-n6.woff")  format("woff");
}

@font-face {
  font-family: "Roguemont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/roguemont-n7.woff")  format("woff");
}
